<br>
<div class="ui green segment">
<h1>Notizbuch Formular</h1>

<form class="ui large form" [formGroup]="notelistForm" (ngSubmit)="submitNotelistForm()">

  <div class="column">
    <div class="field">
      <label for="name">Name</label>
      <input type="text" id="name" formControlName="name">
      @if(errors['name']){
        <div class="ui negative message"> {{ errors['name'] }}</div>
      }
    </div>
  </div>
  <div class="ui segment">
    <div class="ui two column very relaxed grid">
      <div class="column">
        <div class="ui toggle checkbox">
          <input type="checkbox" name="public" formControlName="visibility" id="visibility">
          <label class="dn" for="visibility" data-content="OFF">{{ notelistForm.get('visibility')?.value ?
            'öffentlich' : 'privat' }}</label>
          </div>
      </div>
      @if(notelistForm.get('visibility')?.value){
        <div class="column">
          <h3>Teilen mit...</h3>
          <bs-share-to-user (selected)="selected($event)"></bs-share-to-user>
          <h5>Dieses Notizbuch ist mit folgenden Personen geteilt:</h5>
          @for (user of notelist.user; track user){
          <div class="ui middle aligned selected divided list">
            <ul>
              <li>{{user.email}} |
            {{user.firstname}} {{user.lastname}}</li></ul>
          </div>
          }
          <div *ngFor="let userControl of user.controls; let i = index" [formGroupName]="i">
            <p>Vorname: {{ userControl.get('firstname')?.value }}</p>
            <button type="button" (click)="addUser()">Benutzer hinzufügen</button>
          </div>
        </div>
      }
  </div>
  </div>
    <button type="submit" class="ui green button" [disabled]="notelistForm.invalid">Speichern</button>
</form>
</div>
